<div class="container">

    <em class="pull-right">You're connected as {{currentUsername}} <button class="btn btn-small" ng-click="logout()">logout</button></em>

    <div class="container">
        <h3>Conference {{conference.title}} Page <span class="badge badge-important">{{globalRank}}</span></h3>
        <em>Occuring {{conference.date}} at SFEIR Head office</em>
        <p></p>

        <!-- tracks-->
        <h4>There are actually {{conference.tracks.length}} submitted Track(s) </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track name</th>
                    <th>Time slot</th>
                    <th>Speaker</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in conference.tracks">
                    <td></td>
                    <td>{{track.title}}</td>
                    <td>{{track.timeSlot}}</td>
                    <td>{{track.speaker}}</td>
                    <td>
                        <span ng-switch="track.rank">
                            <span ng-switch-when="track.rank==0">
                                <span class="badge badge-important">{{track.rank}}</span>
                            </span>
                            <span ng-switch-when="track.rank>0 && track.rank<=5">
                                <span class="badge badge-warning">{{track.rank}}</span>
                            </span>
                            <span ng-switch-default>
                                <span class="badge badge-success">{{track.rank}}</span>
                            </span>
                        </span>
                        <i class="icon-thumbs-up" ng-click="voteUp(track.key)" style="cursor: pointer"></i>
                        <i class="icon-thumbs-down" ng-click="voteDown(track.key)" style="cursor: pointer"></i>
                    </td>
                </tr>
                <div>
                    <form novalidate class="navbar-form pull-right" name="uForm">
                        <tr>
                            <td>&nbsp;</td>
                            <td><input class="span2" type="text" ng-model="track.title" name="uTrackTitle" placeholder="Track title" /></td>
                            <td><input class="span2" type="number" ng-model="track.timeSlot" name="uTrackTimeSlot" placeholder="Track timeslot" /></td>
                            <td><input class="span2" type="email" ng-model="track.speaker" name="uTrackSpeaker" placeholder="speaker email" /></td>
                            <td>
                                <select ng-options="user for user in users">
                                </select>
                            </td>

                            <td><button type="button" class="btn" ng-click="submitTrack(track)">add</button></td>
                        </tr>
                    </form>
                </div>
            </tbody>
        </table>

        <!-- attenders-->
        <h4>There are {{conference.attenders.length}} registred Attenders</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>fullname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attender in conference.attenders">
                    <td></td>
                    <td>{{attender.fullname}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <footer>
        <p><a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a></p>
    </footer>

</div>