<div class="container">

    <em class="pull-right">You're connected as {{currentUsername}} <button class="btn btn-small" ng-click="logout()">logout</button></em>

    <div class="container">
        <h3>Conference {{conference.title}} Page <span class="badge badge-important">{{globalVote}}</span></h3>
        <em>Occuring {{conference.date}} at SFEIR Head office</em>
        <p></p>

        <!-- tracks-->
        <h4>There are actually <span id="nbTracks">{{conference.tracks.length}}</span> submitted Track(s) </h4>

        <!--
        <ul class="feedbacks">
            <li ng-repeat="track in conference.tracks" class="feedback">
                <div class="feedback">
                    <div class="corpus">
                        <h3><a class="navbar-link" style="cursor: pointer" ng-click="expand(conference.key)">{{track.title}}</a></h3>
                        <div style="margin-left: 60px;">{{track.timeSlot}} | <b>{{track.speaker}}</b> |  <b>vote <i class="icon-thumbs-up" ng-click="upvote(track.key)" style="cursor: pointer"></i></b></div>
                        <div class="user">
                            {{track.rank}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        -->

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Track name</th>
                    <th>Time slot</th>
                    <th>Speaker</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="track in conference.tracks">
                    <td></td>
                    <td>{{track.title}}</td>
                    <td>{{track.timeSlot}}</td>
                    <td>{{track.speaker}}</td>
                    <td>
                        <span ng-switch="track.rank">
                            <span ng-switch-when="track.rank==0">
                                <span class="badge badge-important">{{track.rank}}</span>
                            </span>
                            <span ng-switch-when="track.rank>0 && track.rank<=5">
                                <span class="badge badge-warning">{{track.rank}}</span>
                            </span>
                            <span ng-switch-default>
                                <span class="badge badge-success">{{track.rank}}</span>
                            </span>
                        </span>
                        <i class="icon-thumbs-up" ng-click="upvote(track.key)" style="cursor: pointer"></i>
                    </td>
                </tr>

                <div>
                    <form novalidate class="navbar-form pull-right" name="uForm">
                        <tr>
                            <td></td>
                            <td><input class="span2" type="text" ng-model="track.title" name="uTrackTitle" placeholder="Track title" required/></td>
                            <td><input class="span2" type="number" ng-model="track.timeSlot" name="uTrackTimeSlot" placeholder="Track timeslot" required /></td>
                            <td><input class="span2" type="email" ng-model="track.speaker" name="uTrackSpeaker" placeholder="speaker email" required /></td>
                            <td><button type="submit" class="btn" ng-click="submitTrack(track)" ng-disabled="uForm.$invalid">add</button></td>
                        </tr>
                    </form>
                </div>
            </tbody>
        </table>

        <!-- attenders-->
        <h4>There are {{conference.attenders.length}} registred Attenders</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>fullname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attender in conference.attenders">
                    <td></td>
                    <td>{{attender.fullname}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <footer>
        <p><a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a></p>
    </footer>

</div>