<div class="container">

    <em class="pull-right">You're connected as {{currentUsername}} <button class="btn btn-small" ng-click="logout()">logout</button></em>

    <div class="container" id="conferenceTable">
        <h3>Scheduled Sfeir Conferences</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Number of tracks</th>
                    <th>Number of attenders</th>
                    <th>Rank</th>
                </tr>
            </thead>
            <tr ng-repeat="conference in conferences">
                <td><a class="navbar-link" style="cursor: pointer" ng-click="expand(conference.key)">{{conference.title}}</a></td>
                <td>{{conference.date}}</td>
                <td>{{conference.tracks.length}}</td>
                <td>{{conference.attenders.length}}</td>
                <td><span class="badge badge-warning">{{conference.rank}}</span></td>
            </tr>
        </table>

        <!--
         <ul class="feedbacks">
             <li ng-repeat="conference in conferences" class="feedback">
                 <div class="feedback">
                    <div class="corpus">
                        <h3><a class="navbar-link" style="cursor: pointer" ng-click="expand(conference.key)">{{conference.title}}</a></h3>
                        <div style="margin-left: 60px;">{{conference.date}} | {{conference.tracks.length}} <b>tracks</b> | {{conference.attenders.length}} <b>attenders</b></div>
                        <div class="user">
                            {{conference.rank}}
                        </div>
                    </div>
                 </div>
             </li>
         </ul>
        -->
    </div>

    <hr>
    <footer>
        <p><a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a></p>
    </footer>

</div>