<div class="container">

    <div class="hero-unit">
        <h1 ng-cloak="currentUser">Welcome back {{currentUsername}}</h1>
    </div>

    <hr>

    <div class="container">
        <ul class="nav nav-tabs nav-stacked">
            <li ng-repeat="conference in conferences">{{conference.title}}</li>
        </ul>
    </div>

    <hr>
    <footer>
        <p><a href="http://creativecommons.org/licenses/by/3.0/"><img src="https://i.creativecommons.org/l/by/3.0/88x31.png"/></a></p>
    </footer>

</div>